 * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      .container {
        width: 100%;
        min-height: 100vh;
        padding: 10px;
        background: linear-gradient(135deg, #153677, #4e085f);
      }
      .to-do {
        width: 100%;
        max-width: 540px;
        height: auto;
        background-color: #fff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
      }
      .to-do h2 {
        color: #153677;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        font-weight: 900;
        font-size: x-large;
      }
      .to-do h2 img {
        width: 60px;
        margin-left: 10px;
      }
      .sr-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #edeef0;
        padding: 10px;
        margin-bottom: 25px;
        border-radius: 30px;
      }
      input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 10px;
        font-weight: 700;
      }
      button {
        border: none;
        outline: none;
        padding: 16px 50px;
        background-color: #ff5945;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
      }
      @media screen and (max-width: 383px) {
        .sr-bar {
          flex-direction: column;
          align-items: center;
          background-color: transparent;
          gap: 10px;
        }
        input {
          text-align: center;
          background-color: #edeef0;
          padding: 10px;
          border-radius: 20px;
        }
        button {
          padding: 7px 30px;
        }
      }
      ul li {
        list-style: none;
        font-size: 1rem;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
      }
      ul li::before {
        content: "";
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url("images/unchecked.png");
        background-size: cover;
        background-position: center;
        left: 8px;
        top: 10px;
      }
      ul li.checked {
        text-decoration: line-through;
        color: #555;
      }
      ul li.checked::before {
        background-image: url("images/checked.png");
      }
       ul li span{
      font-size: 16px;
      position: absolute;
      right: 0;
      top: 10px;
      width: 40px ;
      height: 40px;
      border-radius: 50%;
      font-size: 22px;
     text-align: center;
      cursor: pointer;
      line-height: 40px;
      font-weight: 800;
      color: #ff5945;


    }
    ul li span:hover{
      background: #555;
      color: white;
      transition: all .3s ease-in-out;
      
      
    }